/* Establecer la fuente Inter para toda la página */
body {
    font-family: 'Inter', sans-serif;
    background-color: #AD0E0E; /* Fondo rojo */
    color: white; /* Texto en color blanco */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegura que el contenido esté centrado en toda la ventana */
    text-align: center; /* Centra el texto dentro de su contenedor */
    flex-direction: column; /* Apila los elementos verticalmente */
}

h1 {
    margin-bottom: 20px; /* Separación entre el h1 y el p */
    font-size: 3em; /* Ajuste del tamaño de la fuente para el h1 */
}

p {
    font-size: 1.2em; /* Ajuste del tamaño de la fuente para el p */
}
