body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffe6e6;
    font-family: Arial, sans-serif;
    color: #333;
    padding: 10px;

background-image: url('../src/images/carta.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 80vh;
  background-position: center;

  font-family: "Borel", cursive;
  font-weight: 400;
  font-style: normal;
}
.renglon div{
    display: block;
    background-color: aqua;
    float: left;
    position: sticky;
}
.renglon p{
    font-size: 150%;
    font-weight: 100;
    line-height: 50%;
    padding-left: 15px;

}
.renglon h1{
    text-align: center;
}

#back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #ff99cc;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  z-index: 15;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#back-button:hover {
  background-color: #ff6699;
}

