#back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #ff99cc;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    z-index: 15;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  #back-button:hover {
    background-color: #ff6699;
  }
  
  body {
    margin: 0;
    background-color: #ffe6e6;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  

  
  #image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-color: #ffe6e6; /* Fondo por si necesitas comprobar la alineación */
  }
  
  #main-image {
    max-width: 80%;
    max-height: 80%;
    cursor: pointer;
    display: block; /* Asegura que sea visible cuando esté activo */
    margin: auto; /* Opcional, para redundancia */
    z-index: 20;
  }
  
  #pista-image {
    position: absolute;
    max-width: 80%;
    max-height: 80%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    margin: auto; /* Centrar si es necesario */
    z-index: 10;
  }
  
  #error-message {
    position: absolute;
    text-align: center;
    color: #ff0077;
    font-size: 20px;
    padding: 10px;
    border-radius: 8px;
    display: none;
  }