#back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #ff99cc;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    z-index: 15;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  #back-button:hover {
    background-color: #ff6699;
  }
  
  body {
    margin: 0;
    background-color: #ffe6e6;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex; /* Activa flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.frame {
    height: 60vh;
    width: 80vh;
    z-index: 10;
    position: absolute; /* Posición absoluta para superponer elementos */
    top: 50%; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-50%, -50%); /* Ajustar al centro */
}

img {
    height: 60vh;
    width: 80vh;
    z-index: 20; /* Z-index mayor que el iframe */
    position: absolute; /* Posición absoluta para superposición */
    top: 50%; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-50%, -50%); /* Ajustar al centro */
    pointer-events: none;
}
